html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

.r {
  background: #ff9999 !important; }

.g {
  background: #99ff99 !important; }

.b {
  background: #9999ff !important; }

.y {
  background: #ffff99 !important; }

.c {
  background: #99ffff !important; }

.m {
  background: #ff99ff !important; }

.column {
  width: 280px;
  text-align: justify; }

.fob .column, .toc .column, .masthead .column {
  width: 180px;
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: normal;
  color: #666666;
  text-align: center;
  word-spacing: -0.15em; }

h4, h5, h6 {
  text-align: left;
  margin-top: 24px; }

h1 {
  font-family: WhitmanDisplay-bold, Georgia, serif;
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  color: #b63535;
  letter-spacing: 0.03em; }

h1 em {
  font-family: WhitmanDisplay-bolditalic, Georgia, serif; }

h2 {
  font-size: 15.4px;
  letter-spacing: 0.3em;
  color: #959595;
  padding-bottom: 24px;
  text-transform: uppercase; }

h3 {
  font-size: 11.2px;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #959595;
  text-transform: uppercase;
  font-family: Georgia, serif;
  letter-spacing: 0.3em;
  font-weight: normal; }

h4 {
  font-family: WhitmanDisplay-bold, Georgia, serif;
  color: #b63535;
  font-size: 24px;
  letter-spacing: 0;
  margin-top: 7px; }

h5 {
  font-family: Georgia, serif;
  font-weight: bold;
  color: #b63535;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

h6 {
  font-family: Georgia, serif;
  color: #b63535;
  font-weight: bold; }

.question {
  color: #b63535;
  margin-top: 24px;
  font-weight: bold;
  text-indent: 0; }

.answer {
  font-weight: normal; }

hgroup {
  padding-bottom: 24px; }

p {
  text-indent: 1em;
  color: #333333;
  overflow: visible; }

.first {
  text-indent: 0; }

.last:after {
  content: " ❦";
  color: #b63535; }

.noindent, .intro, .intro * {
  text-indent: 0; }

.intro {
  font-family: Georgia, serif;
  margin-bottom: 0; }

.container.intro * {
  text-align: justify; }

ul, ol {
  background: none;
  border-left: none;
  list-style: square outside;
  color: #b63535;
  margin: 0;
  padding: 0 24px 24px 24px;
  font-size: 14px; }

ol {
  list-style: decimal outside; }

li {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  padding-top: 2px;
  border-top: 1px solid #eeeeee;
  color: #555555; }

.container.title {
  border-top: 3px double #dddddd;
  padding-bottom: 24px; }

h3.writer, h3.photocredit {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  text-transform: none;
  text-shadow: none;
  color: #959595; }

h3.writer:before {
  content: "By ";
  text-transform: none; }

h3.photocredit:before {
  content: "Photographed by ";
  text-transform: none; }

.container hgroup {
  border-bottom: 1px solid #dddddd; }

.container h1 {
  font-size: 38.4px;
  line-height: 38.4px;
  padding-bottom: 12px; }

.container h2 {
  padding-bottom: 6px;
  max-width: 600px;
  margin: 0 auto -12px auto; }

.container h3 {
  padding: 10px 0; }

.photo {
  display: none; }

.container .photo {
  display: block; }

.caption, .caption * {
  font-size: 14px;
  line-height: 16.8px;
  padding-bottom: 8px;
  font-family: Georgia, serif;
  font-style: normal;
  color: #666666; }

.caption {
  padding: 6px 0 0 0;
  text-indent: 0;
  font-size: 12.6px;
  letter-spacing: 0.02em; }
  .caption .credit {
    display: block;
    font-size: 9.8px;
    letter-spacing: 0.25em;
    font-style: normal;
    text-transform: uppercase;
    color: #959595; }

.container .photo {
  float: left;
  margin-right: 20px; }

.toc p {
  text-indent: 0;
  text-align: left; }
.toc h5 {
  margin-top: 0;
  font-size: 11.9px;
  letter-spacing: 0.1em;
  text-align: left; }
.toc .keeptogether {
  border-top: 3px double #eeeeee;
  padding-top: 6px;
  height: 295px;
  text-align: center; }
  .toc .keeptogether img {
    width: 100px;
    height: 100px; }

.letter h1, .letter h2, .letter h3 {
  margin-left: 200px; }
.letter hgroup, .letter .title {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0; }
.letter .headline {
  text-align: left; }
.letter .department {
  margin-bottom: 24px;
  display: block; }
.letter .writer {
  display: none; }
.letter .photo {
  position: absolute; }
.letter .title, .letter .letter hgroup {
  border: none; }

.feature1.page-1.w6col, .feature1.page-2.w6col {
  min-height: 408px; }
.feature1.page-1.w9col, .feature1.page-2.w9col {
  min-height: 432px; }
.feature1.page-1.w12col, .feature1.page-2.w12col {
  min-height: 528px; }

.feature1.page-2 .container.img {
  bottom: 0; }

.feature1 .title, .feature1 hgroup {
  border: none;
  text-align: center; }
.feature1 .title {
  bottom: 0;
  top: 24px; }
  .feature1 .title.w12col h1, .feature1 .title .title.w9col h1 {
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 24px; }
    .feature1 .title.w12col h1 .department, .feature1 .title .title.w9col h1 .department {
      margin-bottom: 0; }
  .feature1 .title.w6col h1 {
    font-size: 48px;
    line-height: 48px; }
  .feature1 .title.w9col h1 {
    font-size: 72px;
    line-height: 72px; }
  .feature1 .title h1, .feature1 .title h2, .feature1 .title h3 {
    color: white;
    text-shadow: 0 -1px 0 #7b2424, 0 1px 0 #d26565; }
  .feature1 .title h2, .feature1 .title h3 {
    font-size: 18.2px;
    line-height: 31.2px; }
  .feature1 .title .deck {
    margin-bottom: 24px; }
.feature1 .writer, .feature1 .photocredit {
  padding: 0; }

.photostory.grid {
  padding: 20px; }
  .photostory.grid h1 {
    margin-top: 24px;
    font-size: 62px;
    line-height: 62px; }
  .photostory.grid h2 {
    text-transform: uppercase; }
  .photostory.grid .writer {
    color: white; }
  .photostory.grid .photocredit {
    color: white; }
  .photostory.grid .img {
    top: 16px; }
    .photostory.grid .img .caption {
      color: white;
      text-align: center;
      background-color: black; }

.masthead .column * {
  text-indent: 0; }
.masthead h5 {
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.pullquote {
  overflow: visible !important; }
  .pullquote p {
    padding: 12px 0 22px 0;
    border-top: 6px solid black;
    font-size: 36px;
    line-height: 36px;
    font-family: WhitmanDisplay-italic;
    font-weight: normal;
    font-style: italic;
    color: #a0a0a0;
    text-indent: 0; }

.runningtitle {
  position: absolute;
  bottom: 6px;
  border-top: 1px solid #dddddd;
  left: 20px;
  right: 20px;
  text-align: right;
  font-family: Georgia, serif;
  text-align: center; }
  .runningtitle * {
    text-rendering: optimizelegibility;
    color: #959595;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase; }

.credit {
  color: gray;
  font-style: italic; }

.w3col.letter h1, .w3col.letter h2, .w3col.letter h3 {
  margin-left: 0; }

.mobile.grid h1 {
  text-align: center; }

.last:after {
  content: " ❦";
  color: #b63535; }

.r16x9.mobile {
  height: 157.5px; }

.r16x9.w1col {
  height: 45px; }

.r16x9.w2col {
  height: 101.25px; }

.r16x9.w3col {
  height: 157.5px; }

.r16x9.w4col {
  height: 213.75px; }

.r16x9.w5col {
  height: 270px; }

.r16x9.w6col {
  height: 326.25px; }

.r16x9.w7col {
  height: 382.5px; }

.r16x9.w8col {
  height: 438.75px; }

.r16x9.w9col {
  height: 495px; }

.r16x9.w10col {
  height: 551.25px; }

.r16x9.w11col {
  height: 607.5px; }

.r16x9.w12col {
  height: 663.75px; }

.r4x3.mobile {
  height: 210px; }

.r4x3.w1col {
  height: 60px; }

.r4x3.w2col {
  height: 135px; }

.r4x3.w3col {
  height: 210px; }

.r4x3.w4col {
  height: 285px; }

.r4x3.w5col {
  height: 360px; }

.r4x3.w6col {
  height: 435px; }

.r4x3.w7col {
  height: 510px; }

.r4x3.w8col {
  height: 585px; }

.r4x3.w9col {
  height: 660px; }

.r4x3.w10col {
  height: 735px; }

.r4x3.w11col {
  height: 810px; }

.r4x3.w12col {
  height: 885px; }

.r1x1.mobile {
  height: 280px; }

.r1x1.w1col {
  height: 80px; }

.r1x1.w2col {
  height: 180px; }

.r1x1.w3col {
  height: 280px; }

.r1x1.w4col {
  height: 380px; }

.r1x1.w5col {
  height: 480px; }

.r1x1.w6col {
  height: 580px; }

.r1x1.w7col {
  height: 680px; }

.r1x1.w8col {
  height: 780px; }

.r1x1.w9col {
  height: 880px; }

.r1x1.w10col {
  height: 980px; }

.r1x1.w11col {
  height: 1080px; }

.r1x1.w12col {
  height: 1180px; }

.r3x4.mobile {
  height: 373.333px; }

.r3x4.w1col {
  height: 106.667px; }

.r3x4.w2col {
  height: 240px; }

.r3x4.w3col {
  height: 373.333px; }

.r3x4.w4col {
  height: 506.667px; }

.r3x4.w5col {
  height: 640px; }

.r3x4.w6col {
  height: 773.333px; }

.r3x4.w7col {
  height: 906.667px; }

.r3x4.w8col {
  height: 1040px; }

.r3x4.w9col {
  height: 1173.333px; }

.r3x4.w10col {
  height: 1306.667px; }

.r3x4.w11col {
  height: 1440px; }

.r3x4.w12col {
  height: 1573.333px; }

.col-1 {
  margin-left: 0px; }

.w1col {
  width: 80px; }

.col-2 {
  margin-left: 100px; }

.w2col {
  width: 180px; }

.col-3 {
  margin-left: 200px; }

.w3col {
  width: 280px; }

.col-4 {
  margin-left: 300px; }

.w4col {
  width: 380px; }

.col-5 {
  margin-left: 400px; }

.w5col {
  width: 480px; }

.col-6 {
  margin-left: 500px; }

.w6col {
  width: 580px; }

.col-7 {
  margin-left: 600px; }

.w7col {
  width: 680px; }

.col-8 {
  margin-left: 700px; }

.w8col {
  width: 780px; }

.col-9 {
  margin-left: 800px; }

.w9col {
  width: 880px; }

.col-10 {
  margin-left: 900px; }

.w10col {
  width: 980px; }

.col-11 {
  margin-left: 1000px; }

.w11col {
  width: 1080px; }

.col-12 {
  margin-left: 1100px; }

.w12col {
  width: 1180px; }

.grid {
  position: absolute;
  margin: 8px 0px 8px 20px;
  padding: 0 20px;
  top: 50%;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px #bbbbbb;
  -moz-box-shadow: 0px 2px 5px #bbbbbb;
  -o-box-shadow: 0px 2px 5px #bbbbbb;
  box-shadow: 0px 2px 5px #bbbbbb;
  z-index: 1; }

.fixed.grid {
  max-width: none;
  max-height: none;
  min-width: none;
  min-height: none; }

.mobile-3x4, .mobile-1x1, .mobile-4x3, .mobile-16x9 {
  width: 280px; }

.small-single-3x4, .small-single-1x1, .small-single-4x3, .small-single-16x9 {
  width: 180px; }

.single-3x4, .single-1x1, .single-4x3, .single-16x9 {
  width: 280px; }

.small-double-3x4, .small-double-1x1, .small-double-4x3, .small-double-16x9 {
  width: 380px; }

.double-3x4, .double-1x1, .double-4x3, .double-16x9 {
  width: 580px; }

.triple-3x4, .triple-1x1, .triple-4x3, .triple-16x9 {
  width: 880px; }

.quad-3x4, .quad-1x1, .quad-4x3, .quad-16x9 {
  width: 1180px; }

.fixed {
  padding-left: 0;
  padding-right: 0; }
  .fixed img {
    position: absolute;
    left: 0;
    top: 0; }

body {
  background: #eeeeee;
  overflow: hidden; }

.column, .container {
  position: absolute;
  overflow: hidden;
  top: 24px;
  bottom: 48px; }

#previousPage, #nextPage {
  z-index: -1; }
  .no-touch #previousPage, .no-touch #nextPage {
    opacity: 0.5; }

.spread.odd {
  z-index: 2; }
  .spread.odd#previousPage {
    opacity: 1;
    z-index: 1; }
.spread.even {
  margin-left: 0; }
  .spread.even#nextPage {
    opacity: 1; }

.trimleft {
  padding-left: 0; }

.trimright {
  padding-right: 0; }

figure {
  display: block; }

.colapsed {
  position: absolute; }

.fill {
  left: 0;
  top: 0; }

.topfix {
  top: 0; }

.rightfix {
  right: 0; }

.bottomfix {
  bottom: 0;
  top: auto; }

.leftfix {
  left: 0; }

.overflow {
  overflow: visible; }

.error, .loading {
  position: absolute;
  width: 160px;
  height: 100px;
  letter-spacing: 2px;
  margin: 0 0 0 20px; }
  .error img, .loading img {
    display: inline; }

.hidden, .microdata {
  display: none !important; }

.group {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0; }

* {
  cursor: default; }

a, a *, button, button *, .zoomable, .zoomable *, #previousPage, #previousPage *, #nextPage, #nextPage * {
  cursor: pointer; }

.onwhite {
  background: white; }

.onblack {
  background: black; }

.white, .white * {
  color: white; }

.black, .black * {
  color: black; }

.center, .center * {
  text-align: center; }

.nocap .caption {
  display: none; }

.browser-os-ipad .chrome {
  bottom: 77px; }

.browser-os-iphone .chrome {
  bottom: 63px; }

.fullScreen .chrome {
  bottom: 19px; }

.button {
  border-top: 1px solid #969696;
  border-bottom: 1px solid #3d3d3d;
  border-left: 1px solid #707070;
  border-right: 1px solid #4a4a4a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #565656;
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
  background: -moz-linear-gradient(top, #707070, #3d3d3d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
  background: gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d)); }
  .button:hover {
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #575757;
    border-left: 1px solid #969696;
    border-right: 1px solid #636363;
    background-color: #707070;
    background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#575757));
    background: -moz-linear-gradient(top, #8a8a8a, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#575757');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#575757');
    background: gradient(linear, left top, left bottom, from(#8a8a8a), to(#575757)); }

.chrome {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 450px; }
  .chrome .viewer {
    position: absolute;
    overflow: visible;
    top: 0;
    right: 6px;
    bottom: 35px;
    left: 36px;
    z-index: 0; }
  .chrome.small {
    min-width: 0;
    max-width: 450px; }
    .chrome.small .viewer {
      bottom: 35px;
      left: 6px; }

.activemenu {
  display: none;
  z-index: 3; }
  .menu-active .activemenu {
    position: absolute;
    display: block;
    bottom: 37px;
    left: 2px;
    width: 140px;
    padding: 0;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #3d3d3d;
    border-left: 1px solid #707070;
    border-right: 1px solid #4a4a4a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #565656;
    background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
    background: -moz-linear-gradient(top, #707070, #3d3d3d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
    background: gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d)); }
    .menu-active .activemenu li {
      font-size: 14px;
      position: relative;
      display: block;
      border: none;
      margin: 0;
      padding: 0;
      text-align: center;
      border-top: 1px solid #7d7d7d;
      border-bottom: 1px solid #3d3d3d; }
      .menu-active .activemenu li:first, .menu-active .activemenu li:last {
        border: none; }
      .menu-active .activemenu li a {
        display: block;
        text-align: center;
        width: 140px;
        padding-top: 6px;
        padding-bottom: 6px;
        color: white !important; }
        .menu-active .activemenu li a:hover {
          border-top: none;
          background-color: #838383;
          background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#707070));
          background: -moz-linear-gradient(top, #969696, #707070);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#707070');
          -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#707070');
          background: gradient(linear, left top, left bottom, from(#969696), to(#707070));
          color: white !important; }

.controll {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;
  height: 35px;
  background-color: #212121;
  background: -webkit-gradient(linear, left top, left bottom, from(#434343), to(black));
  background: -moz-linear-gradient(top, #434343, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434343', endColorstr='black');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434343', endColorstr='black');
  background: gradient(linear, left top, left bottom, from(#434343), to(black)); }
  .smallscreen.touchsupport .controll {
    height: 0;
    -webkit-transition: 0.5s height;
    -moz-transition: 0.5s height;
    -o-transition: 0.5s height;
    transition: 0.5s height; }
  .controll * {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: white; }
  .controll input {
    color: black; }
  .controll button {
    width: 45px;
    height: 33px;
    padding: 2px;
    margin: 1px 0 0 3px;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #3d3d3d;
    border-left: 1px solid #707070;
    border-right: 1px solid #4a4a4a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #565656;
    background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
    background: -moz-linear-gradient(top, #707070, #3d3d3d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
    background: gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
    -webkit-box-shadow: -1px -1px 0px #030303, 1px 1px 0px #101010;
    -moz-box-shadow: -1px -1px 0px #030303, 1px 1px 0px #101010;
    -o-box-shadow: -1px -1px 0px #030303, 1px 1px 0px #101010;
    box-shadow: -1px -1px 0px #030303, 1px 1px 0px #101010; }
    .controll button:hover {
      border-top: 1px solid #b0b0b0;
      border-bottom: 1px solid #575757;
      border-left: 1px solid #969696;
      border-right: 1px solid #636363;
      background-color: #707070;
      background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#575757));
      background: -moz-linear-gradient(top, #8a8a8a, #575757);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#575757');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#575757');
      background: gradient(linear, left top, left bottom, from(#8a8a8a), to(#575757)); }
    .controll button.menu {
      width: 80px; }
  .controll .bottom {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    border-top-right-radius: 4px; }
  .controll .prev {
    margin-left: 10px; }
  .controll .numbering {
    display: block;
    padding: 6px 20px; }
    .controll .numbering .pagenumber, .controll .numbering .pagecount {
      display: inline; }

.bottom.right {
  padding-right: 10px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0; }
  .bottom.right button {
    padding: 7px 0 0 0; }
  .bottom.right button, .bottom.right .numbering {
    float: right; }
.bottom.left {
  float: left;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0; }
.bottom.center {
  position: absolute;
  left: 90px;
  right: 290px;
  text-align: center; }

.sidebar {
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 35px;
  width: 0px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #494949;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#3d3d3d));
  background: -moz-linear-gradient(top, #575757, #3d3d3d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#3d3d3d');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#3d3d3d');
  background: gradient(linear, left top, left bottom, from(#575757), to(#3d3d3d));
  -webkit-transition: 0.5s width;
  -moz-transition: 0.5s width;
  -o-transition: 0.5s width;
  transition: 0.5s width; }
  .sidebar * {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: white; }
  .sidebar .article {
    width: 320px; }
    .sidebar .article a {
      display: block;
      padding: 0 18px 10px 0;
      min-height: 44px;
      border-top: 1px solid #707070;
      border-bottom: 1px solid #242424; }
      .sidebar .article a:hover {
        background-color: #838383;
        background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#707070));
        background: -moz-linear-gradient(top, #969696, #707070);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#707070');
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#707070');
        background: gradient(linear, left top, left bottom, from(#969696), to(#707070));
        border-top: 1px solid #c9c9c9;
        border-bottom: 1px solid #575757; }
    .sidebar .article.current a {
      border-top: 1px solid #242424;
      border-bottom: 1px solid #707070;
      background-color: #303030;
      background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), to(#242424));
      background: -moz-linear-gradient(top, #3d3d3d, #242424);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#242424');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#242424');
      background: gradient(linear, left top, left bottom, from(#3d3d3d), to(#242424)); }
  .sidebar .thumb, .sidebar .title, .sidebar .deck {
    position: static;
    margin: 0;
    padding: 0;
    display: block; }
  .sidebar .thumb {
    float: left;
    margin: 6px; }
  .sidebar .title {
    margin-left: 54px;
    padding: 6px 0 0 0;
    font-weight: bold; }
  .sidebar .deck {
    margin-left: 54px; }

.scrolltop, .scrollbottom {
  position: fixed;
  left: 0;
  height: 10px;
  width: 0px;
  -webkit-transition: 0.5s width;
  -moz-transition: 0.5s width;
  -o-transition: 0.5s width;
  transition: 0.5s width; }

.scrolltop {
  top: 0;
  background-image: url("../resources/scrubber-top.png"); }

.scrollbottom {
  bottom: 35px;
  background-image: url("../resources/scrubber-bottom.png"); }

.no-small .open-sidebar, .no-small .close-sidebar {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 30px;
  height: 100px;
  margin-top: -70px;
  cursor: pointer;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #3d3d3d;
  border-left: 1px solid #707070;
  border-right: 1px solid #4a4a4a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #565656;
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
  background: -moz-linear-gradient(top, #707070, #3d3d3d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
  background: gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-transition: 0.5s left;
  -moz-transition: 0.5s left;
  -o-transition: 0.5s left;
  transition: 0.5s left; }
  .no-small .open-sidebar:hover, .no-small .close-sidebar:hover {
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #575757;
    border-left: 1px solid #969696;
    border-right: 1px solid #636363;
    background-color: #707070;
    background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#575757));
    background: -moz-linear-gradient(top, #8a8a8a, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#575757');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#575757');
    background: gradient(linear, left top, left bottom, from(#8a8a8a), to(#575757)); }
.no-small .open-sidebar {
  z-index: 2; }

.small .viewer {
  padding-left: 0; }
.small .menu {
  width: 60px; }
.small .open-sidebar {
  display: block; }
.small .sidebar {
  bottom: 35px; }
.small .scrollbottom {
  bottom: 35px; }
.small .close-sidebar {
  display: none;
  position: absolute;
  left: 0;
  width: 110px; }
.small.sidebar-active .close-sidebar {
  display: block;
  left: 0; }

.sidebar-active .sidebar {
  z-index: 2;
  width: 320px; }
.sidebar-active .scrolltop, .sidebar-active .scrollbottom {
  width: 320px; }
.sidebar-active .activemenu {
  -webkit-box-shadow: 0px 0 5px black;
  -moz-box-shadow: 0px 0 5px black;
  -o-box-shadow: 0px 0 5px black;
  box-shadow: 0px 0 5px black; }
.sidebar-active .close-sidebar, .sidebar-active .open-sidebar {
  left: 320px; }
.sidebar-active .close-sidebar {
  z-index: 3; }

.touch .button:hover {
  border-top: 1px solid #969696;
  border-bottom: 1px solid #3d3d3d;
  border-left: 1px solid #707070;
  border-right: 1px solid #4a4a4a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #565656;
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
  background: -moz-linear-gradient(top, #707070, #3d3d3d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
  background: gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d)); }
.touch button:hover {
  border-top: 1px solid #969696;
  border-bottom: 1px solid #3d3d3d;
  border-left: 1px solid #707070;
  border-right: 1px solid #4a4a4a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #565656;
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
  background: -moz-linear-gradient(top, #707070, #3d3d3d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#3d3d3d');
  background: gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d)); }
.touch .sidebar .article a:hover {
  background: none;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #242424; }
.touch .sidebar .article.current a {
  border-top: 1px solid #242424;
  border-bottom: 1px solid #707070;
  background-color: #303030;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), to(#242424));
  background: -moz-linear-gradient(top, #3d3d3d, #242424);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#242424');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#242424');
  background: gradient(linear, left top, left bottom, from(#3d3d3d), to(#242424)); }
.touch .article a:hover {
  background: none;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #242424; }

.lightbox {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../resources/transpbkg.png");
  background-repeat: repeat;
  z-index: 99; }
  .lightbox .container {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    border: 10px solid white;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
  .lightbox .close {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    background-color: black;
    background-image: url(../resources/close.gif);
    font-size: 20px;
    font-weight: bold;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px;
    border: 3px solid white;
    -webkit-box-shadow: 1px 1px 5px black;
    -moz-box-shadow: 1px 1px 5px black;
    -o-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    z-index: 100; }

a {
  text-decoration: inherit;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; }

.caps {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.column {
  min-height: 72px; }

div, p, button {
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 24px; }

em {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: italic; }

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  font-style: inherit; }

.signed {
  text-indent: 0;
  margin-top: 24px; }

.signed:before {
  content: "— "; }

.covercredit {
  text-indent: 0; }

::selection {
  background: #c8c8c8; }

::-moz-selection {
  background: #c8c8c8; }

.onprimary {
  background: #b63535; }

.onsecondary {
  background: #707070; }

.ontertiary {
  background: #959595; }

.fill .caption {
  padding-left: 20px;
  padding-right: 20px; }

.column a, .column a:visited, .column a:active {
  color: #671e1e;
  border-bottom: none; }
.column a:hover {
  color: #b63535;
  border-bottom: 1px solid #b63535; }

.column img {
  display: block;
  line-height: 24px; }
.column .keeptogether img {
  display: inline; }

.img.fallback {
  padding: 6px 6px 0 6px;
  margin: 24px 0 0 0;
  border: 1px solid #dddddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-height: 50px; }
  .img.fallback img {
    float: left;
    display: block; }
  .img.fallback .caption {
    display: block;
    padding: 0;
    margin: 0 0 0 50px;
    text-indent: 0;
    line-height: 16px;
    text-align: left; }

.img.fallback:hover {
  border-color: #b63535;
  -webkit-box-shadow: inset 0 0 5px #e3a1a1;
  -moz-box-shadow: inset 0 0 5px #e3a1a1;
  -o-box-shadow: inset 0 0 5px #e3a1a1;
  box-shadow: inset 0 0 5px #e3a1a1; }

.w3col .column img.photo, .mobile .column img.photo {
  display: none; }

.more {
  display: none; }

.no-js, .no-treesaver {
  overflow: auto; }
  .no-js .more, .no-treesaver .more {
    display: block; }
  .no-js figure div, .no-js figure iframe, .no-treesaver figure div, .no-treesaver figure iframe {
    display: none; }
  .no-js figure div.fallback, .no-treesaver figure div.fallback {
    display: block; }
  .no-js h1.issue, .no-treesaver h1.issue {
    margin: 20px;
    margin-bottom: 6px; }
  .no-js article, .no-treesaver article {
    position: absolute;
    display: block;
    margin: 20px;
    margin-top: 0;
    background-color: white;
    border: #bbbbbb;
    padding: 20px;
    max-width: 800px; }

.r16x9.mobile img {
  width: 280px !important;
  height: 157.5px !important; }

.r16x9.w1col img {
  width: 80px !important;
  height: 45px !important; }

.r16x9.w2col img {
  width: 180px !important;
  height: 101.25px !important; }

.r16x9.w3col img {
  width: 280px !important;
  height: 157.5px !important; }

.r16x9.w4col img {
  width: 380px !important;
  height: 213.75px !important; }

.r16x9.w5col img {
  width: 480px !important;
  height: 270px !important; }

.r16x9.w6col img {
  width: 580px !important;
  height: 326.25px !important; }

.r16x9.w7col img {
  width: 680px !important;
  height: 382.5px !important; }

.r16x9.w8col img {
  width: 780px !important;
  height: 438.75px !important; }

.r16x9.w9col img {
  width: 880px !important;
  height: 495px !important; }

.r16x9.w10col img {
  width: 980px !important;
  height: 551.25px !important; }

.r16x9.w11col img {
  width: 1080px !important;
  height: 607.5px !important; }

.r16x9.w12col img {
  width: 1180px !important;
  height: 663.75px !important; }

.r4x3.mobile img {
  width: 280px !important;
  height: 210px !important; }

.r4x3.w1col img {
  width: 80px !important;
  height: 60px !important; }

.r4x3.w2col img {
  width: 180px !important;
  height: 135px !important; }

.r4x3.w3col img {
  width: 280px !important;
  height: 210px !important; }

.r4x3.w4col img {
  width: 380px !important;
  height: 285px !important; }

.r4x3.w5col img {
  width: 480px !important;
  height: 360px !important; }

.r4x3.w6col img {
  width: 580px !important;
  height: 435px !important; }

.r4x3.w7col img {
  width: 680px !important;
  height: 510px !important; }

.r4x3.w8col img {
  width: 780px !important;
  height: 585px !important; }

.r4x3.w9col img {
  width: 880px !important;
  height: 660px !important; }

.r4x3.w10col img {
  width: 980px !important;
  height: 735px !important; }

.r4x3.w11col img {
  width: 1080px !important;
  height: 810px !important; }

.r4x3.w12col img {
  width: 1180px !important;
  height: 885px !important; }

.r1x1.mobile img {
  width: 280px !important;
  height: 280px !important; }

.r1x1.w1col img {
  width: 80px !important;
  height: 80px !important; }

.r1x1.w2col img {
  width: 180px !important;
  height: 180px !important; }

.r1x1.w3col img {
  width: 280px !important;
  height: 280px !important; }

.r1x1.w4col img {
  width: 380px !important;
  height: 380px !important; }

.r1x1.w5col img {
  width: 480px !important;
  height: 480px !important; }

.r1x1.w6col img {
  width: 580px !important;
  height: 580px !important; }

.r1x1.w7col img {
  width: 680px !important;
  height: 680px !important; }

.r1x1.w8col img {
  width: 780px !important;
  height: 780px !important; }

.r1x1.w9col img {
  width: 880px !important;
  height: 880px !important; }

.r1x1.w10col img {
  width: 980px !important;
  height: 980px !important; }

.r1x1.w11col img {
  width: 1080px !important;
  height: 1080px !important; }

.r1x1.w12col img {
  width: 1180px !important;
  height: 1180px !important; }

.r3x4.mobile img {
  width: 280px !important;
  height: 373.333px !important; }

.r3x4.w1col img {
  width: 80px !important;
  height: 106.667px !important; }

.r3x4.w2col img {
  width: 180px !important;
  height: 240px !important; }

.r3x4.w3col img {
  width: 280px !important;
  height: 373.333px !important; }

.r3x4.w4col img {
  width: 380px !important;
  height: 506.667px !important; }

.r3x4.w5col img {
  width: 480px !important;
  height: 640px !important; }

.r3x4.w6col img {
  width: 580px !important;
  height: 773.333px !important; }

.r3x4.w7col img {
  width: 680px !important;
  height: 906.667px !important; }

.r3x4.w8col img {
  width: 780px !important;
  height: 1040px !important; }

.r3x4.w9col img {
  width: 880px !important;
  height: 1173.333px !important; }

.r3x4.w10col img {
  width: 980px !important;
  height: 1306.667px !important; }

.r3x4.w11col img {
  width: 1080px !important;
  height: 1440px !important; }

.r3x4.w12col img {
  width: 1180px !important;
  height: 1573.333px !important; }

.mobile.grid {
  min-width: 9001px;
  width: 9001px;
  padding: 20px; }

.smallscreen.mobile {
  background: white; }
  .smallscreen.mobile .viewer {
    top: 0;
    right: 0;
    left: 0; }
  .smallscreen.mobile .grid {
    min-width: 9001px;
    width: 9001px; }
  .smallscreen.mobile .mobile.grid {
    width: 280px;
    min-width: 280px;
    padding: 20px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    margin: 0; }
    .smallscreen.mobile .mobile.grid .column {
      top: 12px;
      bottom: 12px;
      width: 280px; }
    .smallscreen.mobile .mobile.grid .container {
      top: 12px;
      bottom: 24px; }
  .smallscreen.mobile .column, .smallscreen.mobile .container, .smallscreen.mobile p {
    width: 280px;
    min-width: 280px; }
  .smallscreen.mobile .column hgroup, .smallscreen.mobile .column h4, .smallscreen.mobile .column h5, .smallscreen.mobile .column h6 {
    display: block;
    width: 280px;
    font-size: 14px;
    font-size: 14px;
    line-height: 24px; }
  .smallscreen.mobile .column hgroup {
    margin-bottom: 24px;
    padding-bottom: 0; }
  .smallscreen.mobile .column h1, .smallscreen.mobile .column h2, .smallscreen.mobile .column h3, .smallscreen.mobile .column h4 {
    margin: 0;
    padding: 0;
    font-size: 15.4px;
    line-height: 24px;
    display: block; }
  .smallscreen.mobile .column h4, .smallscreen.mobile .column h5, .smallscreen.mobile .column h6 {
    text-align: left;
    margin-top: 24px; }
  .smallscreen.mobile .column h1 {
    font-size: 24px;
    line-height: 24px; }
  .smallscreen.mobile .column p {
    padding-left: 0;
    text-indent: 2em;
    text-align: left; }
  .smallscreen.mobile .column p.question, .smallscreen.mobile .column p.first, .smallscreen.mobile .column .credit, .smallscreen.mobile .column .covercredit, .smallscreen.mobile .column p.signed, .smallscreen.mobile .column h4, .smallscreen.mobile .column h5, .smallscreen.mobile .column h6 {
    padding-left: 0;
    text-indent: 0; }
  .smallscreen.mobile .letter .photo {
    display: none; }
  .smallscreen.mobile .photostory p.caption {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    bottom: 10px;
    overflow: visible; }
  .smallscreen.mobile .fallback p.caption {
    width: 280px;
    min-width: 280px;
    border: none; }
  .smallscreen.mobile .keeptogether {
    height: auto; }
    .smallscreen.mobile .keeptogether img {
      display: none; }
    .smallscreen.mobile .keeptogether h5 {
      margin-top: 0; }
    .smallscreen.mobile .keeptogether p {
      text-indent: 0; }
    .smallscreen.mobile .keeptogether.img img {
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      display: block; }
    .smallscreen.mobile .keeptogether.img p {
      width: 220px;
      min-width: 210px;
      margin-left: 47px; }
  .smallscreen.mobile .small .sidebar {
    -webkit-transition: 0 width;
    -moz-transition: 0 width;
    -o-transition: 0 width;
    transition: 0 width; }
  .smallscreen.mobile .small .close-sidebar {
    width: 316px; }
  .smallscreen.mobile .mobile.grid.photostory.sizetocontainer {
    background: black;
    padding: 5px;
    margin: 0 5px 0 5px; }
    .smallscreen.mobile .mobile.grid.photostory.sizetocontainer .img {
      text-align: center; }
      .smallscreen.mobile .mobile.grid.photostory.sizetocontainer .img img {
        position: static;
        display: inline;
        text-align: center; }
      .smallscreen.mobile .mobile.grid.photostory.sizetocontainer .img .caption {
        position: static;
        margin-bottom: 6px; }
  .smallscreen.mobile li, .smallscreen.mobile .toc li.keeptogether {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    line-height: 24px;
    text-align: left; }
  .smallscreen.mobile hgroup .photo {
    display: none; }
  .smallscreen.mobile .w2col.mobile.grid {
    width: 180px;
    min-width: 180px; }
    .smallscreen.mobile .w2col.mobile.grid .container, .smallscreen.mobile .w2col.mobile.grid p {
      width: 180px;
      min-width: 180px; }
  .smallscreen.mobile .cover.w3col.grid, .smallscreen.mobile .cover.w3col.grid * {
    width: 250px !important;
    height: 333.333px !important;
    min-width: 250px !important;
    min-height: 333.333px !important; }
  .smallscreen.mobile .cover.w3col.grid {
    margin: 0 -8.75px; }
  .smallscreen.mobile .cover.w2col.grid, .smallscreen.mobile .cover.w2col.grid * {
    width: 125px !important;
    height: 166.667px !important;
    min-width: 125px !important;
    min-height: 166.667px !important; }
  .smallscreen.mobile .cover.w2col.grid {
    margin: 0 -8.75px; }

.nativeapp .chrome .viewer {
  bottom: 0;
  padding-left: 0; }
.nativeapp .chrome .controll, .nativeapp .chrome .open-sidebar, .nativeapp .chrome .close-sidebar {
  display: none; }
.nativeapp .chrome .mobile.grid .column {
  bottom: 24px; }
.nativeapp .chrome .mobile.grid .container {
  bottom: 24px; }

.nomad.grid {
  background-color: #b0c6da;
  background: -webkit-gradient(linear, left top, left bottom, from(#95a7b7), to(#cce6ff));
  background: -moz-linear-gradient(top, #95a7b7, #cce6ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95a7b7', endColorstr='#cce6ff');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95a7b7', endColorstr='#cce6ff');
  background: gradient(linear, left top, left bottom, from(#95a7b7), to(#cce6ff)); }
  .nomad.grid .top {
    background-color: #4c4c4c;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
    background: -moz-linear-gradient(top, #333333, #666666);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
    background: gradient(linear, left top, left bottom, from(#333333), to(#666666));
    position: absolute;
    left: 0;
    right: 0; }
  .nomad.grid .column {
    width: 280px; }
    .nomad.grid .column .keeptogether {
      border-left: 1px solid #666666;
      padding-left: 10px;
      display: block;
      margin-bottom: 24px; }
      .nomad.grid .column .keeptogether img {
        width: 100px;
        height: 133px; }
      .nomad.grid .column .keeptogether p {
        text-align: left;
        text-indent: 0;
        font-size: 14px;
        line-height: 18px; }
      .nomad.grid .column .keeptogether a {
        color: white;
        font-family: Verdana, sans-serif;
        font-weight: normal;
        font-size: 12px;
        padding: 2px; }

.nomad-all.grid.mobile .container.intro {
  top: 50px;
  padding: 20px; }
  .nomad-all.grid.mobile .container.intro p {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #aaaaaa;
    font-family: Verdana, sans-serif;
    text-align: left; }
.nomad-all.grid.mobile .top {
  top: 0px;
  height: 50px; }
.nomad-all.grid.w3col .column {
  top: 65px; }
.nomad-all.grid.w3col .container.intro {
  top: 50px;
  padding: 20px; }
  .nomad-all.grid.w3col .container.intro p {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #aaaaaa;
    font-family: Verdana, sans-serif;
    text-align: left; }
.nomad-all.grid.w3col .top {
  height: 50px; }
.nomad-all.grid.w6col .column {
  top: 90px; }
.nomad-all.grid.w6col .container.intro {
  top: 75px;
  padding: 20px; }
  .nomad-all.grid.w6col .container.intro p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: #aaaaaa;
    font-family: Verdana, sans-serif;
    text-align: left; }
.nomad-all.grid.w6col .top {
  height: 75px; }
.nomad-all.grid.w9col .column {
  top: 90px; }
.nomad-all.grid.w9col .container.intro {
  top: 75px;
  padding: 20px; }
  .nomad-all.grid.w9col .container.intro p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: #aaaaaa;
    font-family: Verdana, sans-serif;
    text-align: left; }
.nomad-all.grid.w9col .top {
  height: 75px; }
.nomad-all.grid.w12col .column {
  top: 90px; }
.nomad-all.grid.w12col .container.intro {
  top: 75px;
  padding: 20px; }
  .nomad-all.grid.w12col .container.intro p {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: #aaaaaa;
    font-family: Verdana, sans-serif;
    text-align: left; }
.nomad-all.grid.w12col .top {
  height: 75px; }
.nomad-all.grid .intro {
  background-color: white;
  left: 0;
  right: 0; }

.nomad-vertical.grid p {
  text-indent: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #555555;
  font-family: Verdana, sans-serif;
  text-align: left; }
  .nomad-vertical.grid p .button {
    display: block;
    text-align: center;
    color: white;
    font-size: 14px;
    width: 100px;
    margin-top: 12px;
    padding: 0; }

.smallscreen.touch .nomad-all.grid.mobile .column {
  top: 60px; }

  .rg-image img {
    max-height: 100%;
    max-width: 100%;
}
    