<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Berdori Website</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrapper-top">
	<div id="wrapper-top-in">
		<div class="logo">
			<img src="images/logo.png" alt="berdori jewelry logo" border="0" />
		</div>
		<div class="menu">
			<ul>
				<li><a href="#">HOME</a></li>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="#">COLLECTIONS</a></li>
				<li><a href="#">BLOG</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<div class="info"></div>
	</div>
</div>
<div id="wrapper-mid">
</div>
<div id="wrapper-bot">
	<div class="wrapper-bot-in-l">Copyright &copy; 2011 <a href="#">Berdori.com</a>. 
	All rights reserved.</div>
	<div class="wrapper-bot-in-r"><a href="#">Contact Us</a></div>
</div>
</body>
</html>
