@charset "utf-8";
/* Reset
---------------------------------------------*/
css_html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight:normal;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	text-decoration:none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
.boo-clr {
	clear: both;
}

body {
	background: url(../images/bg-body.png) 0 0 repeat-x #fff;
	margin: 0;
	font-family: arial;
}
#wrapper {
	width: 940px;
	margin: 0 auto;
}
#header {
	width: 100%;
	height: 80px;
}
.logo {
	width: 327px;
	height: 48px;
	float: left;
	margin: 17px 0 0 0;
}
#topright {
	width: 500px;
	float: left;
	text-align: right;
	margin: 20px 0 0 0;
}
ul#topmenu {
	background: url(../images/bg-topmenu.png) 100% 0 no-repeat;
	border: 0px solid red;
	padding: 10px 20px 10px 0;
}
ul#topmenu li {
	list-style: none;
	display: inline;
}
ul#topmenu li a {
	color: #187257;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	margin: 0 10px;
	padding: 5px;
}
ul#topmenu li a:hover {
	color: #c11e39;
}
ul#topmenu li.signup {
	background: #efefef;
	padding: 10px 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
span.red {
	color: #c11e39;
	font-weight: bold;
}
#topright2 {
	width: 100px;
	float: right;
	margin: 25px 0 0 0;
}
.errorMessage{
	color:red;
	font-size:13px;
	padding:10px;
	border:1px solid #ddd;
	margin:10px 0px 0px 0px; 
}

/*********************** form review *************************/
form {
	margin: 10px 0 0 0;
	border: 0px solid red;
	/*width: 100%;*/
}

.textsearch{
	height: 18px;
	background: #fff;
	border: 1px solid #187257;
	width: 410px;
	float:left;
	border-radius: 0px 0px 0px 0px;
	display: block;
	padding: 10px;
	color: #187257;
	font-weight: bold;
	font-size: 14px;
}

.btnsearchreview {
	background: #c11e39;
	border: 1px solid #fff;
	vertical-align:midle;
	padding: 10px;
	
	cursor: pointer;
}	
input.text {
	height: 22px;
	background: #fff;
	border: 1px solid #187257;
	width: 410px;
	float: left;
	display: block;
	padding: 10px;
	color: #187257;
	font-weight: bold;
	font-size: 14px;
}

.btnfactory , input.btnsearch,
.btnreview, input.btnreview,
input.btnfactory {
	*height: 42px;
	border: 1px solid #fff;
	vertical-align:midle;
	padding: 10px;
	float: left;
	cursor: pointer;
}
.btnsearch {
	background: #c11e39;
	color: #fff;
	text-shadow: 1px 1px 1px #a01524;
	margin: 1px 0 0 -2px;
	border-radius: 0px;
}

.btnfactory  ,.btnreview, input.btnreview,
input.btnfactory {
	/*background: url(../images/bg-btn.png) 0 0 repeat-x;*/
	text-shadow: 1px 1px 1px #fff;
	margin: 1px 0 0 10px;
	font-weight: bold;
}
input.btnreview { color: #c11e39; }
input.btnreview:hover { color: #187257; }
.btnfactory , input.btnfactory { color: #187257; }
input.btnfactory:hover { color: #c11e39; }

/******************************* content *************************/
#container {
	width: 100%;
	margin: 30px 0 0 0;
	float: left;
}
#left-container {
	width: 546px;
	float: left;
	margin: 0;
}
#right-container {
	width: 356px;
	float: left;
	margin: 0 0 0 20px;
}
#box-includefactory{
	background: url(../images/bg-recentreview.png) 0 0 repeat-x #fff;
	border: 1px solid #e2dfdf;
	padding: 10px;
	width: 526px;
}

.form  {
	padding:10px;
}

.form  h1 {
	display: block;
	padding: 0 0 10px 0;
	background: url(../images/bg-h1.png) 0 100% repeat-x;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}
.form input {
	border: 1px solid #d5d3d3;
	background: #fff;
	height: 25px;
	width: 200px;
	margin: 10px 0 0 10px;
	color: #187257;
	padding: 0 10px;
}
.form textarea {
	border: 1px solid #d5d3d3;
	background: #fff;
	
	width: 200px;
	margin: 10px 0 0 10px;
	color: #187257;
	padding: 0 10px;
}
.form input.btnsubmit {
	width: 100px;
	margin: 10px 10px 0 80px;
	background: #187257;
	height: 30px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.form input.btnsubmit:hover {
	background: #c11e39
}
	
.form .row {
	
	margin: 0px;
	
	
}	
	
.form label {
	display: block;
	width: 100px;
	float:left;
	font-family: arial;
	font-size: 13px;
	color: #000;
	margin: 10px 0 0 30px;
}

#box-recentreview {
	background: url(../images/bg-recentreview.png) 0 0 repeat-x #fff;
	border: 1px solid #e2dfdf;
	padding: 10px;
	width: 526px;
}
.box-otherreview {
	width: 546px;
	margin: 20px 0 0 0;
	padding: 10px 0;
}
.box-searchresult{
	width: 546px;
	margin: 0px 0 0 0;
	padding: 10px 0;
}

#box-recentreview h1 {
	display: block;
	padding: 0 0 10px 0;
	background: url(../images/bg-h1.png) 0 100% repeat-x;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}
#box-recentreview h2,
.box-searchresult h2, .box-otherreview  h2,
.box-best h2,
.box-worst h2,
#box-recentreview h2 a,
.box-otherreview h2 a,
.box-best h2 a,
.box-worst h2 a {
	color: #187257;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 5px 0;
}

#box-recentreview h2 a:hover,
.box-otherreview h2 a:hover,
.box-best h2 a:hover,
.box-worst h2 a:hover {
	color: #c11e39;
}

.box-otherreview img {
	margin: 0 10px 0 0;
}
.posted {
	color: #a2a3a3;
	font-size: 11px;
}
.posted a {
	color: #187257;
	text-decoration: none;
}
.posted a:hover {
	color: #c11e39;
}
.readmore {
	font-size: 11px;
	color: #fff;
	background: #187257;
	padding: 3px 5px;
	margin: 7px 0 0 0;
	border-radius:3px;
}
.readmore:hover {
	font-size: 11px;
	color: #fff;
	background: #c11e39;
	padding: 3px 5px;
}
p {
	font-size: 12px;
	line-height: 20px;
	padding: 5px 0;
}

.box-otherreview p {
	border-bottom: 1px solid #d5d3d3;
	padding: 10px 0;
}

.summary_rating h4{
	font-size:14px;
	font-weight:bold;
}

h3 {
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	display: block;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #d5d3d3;
}

.box-otherreview2 {
	width: 114px;
	float: left;
	margin: 10px 10px 0 0;
}



/************************************** detil ********************************/
.detil  {
	background: url(../images/bg-recentreview.png) 0 0 repeat-x #fff;
	border: 1px solid #e2dfdf;
	padding: 10px;
	width: 526px;
}
.detil  .row {
	margin:0px;
	padding: 5px 10px;
	
}

.detil  h1 {
	display: block;
	padding: 0 0 10px 0;
	background: url(../images/bg-h1.png) 0 100% repeat-x;
	color: #000;
	line-height:21px;
	font-weight: bold;
	font-size: 14px;
	margin-bottom:5px;
}
.detil  h2,
.detil  h2 a
{
	color: #187257;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 5px 0;
}
.detil  h2 a:hover
{
	color: #c11e39;
}

/************************************** signup form ********************************/
#box-signup {
	background: #f6f7f7;
	width: 456px;
	border: 1px solid #d5d3d3;
	padding: 0 0 10px 0px;
	margin-bottom:20px;
}
.box-signup-header {
	background:  #f1f1f1;
	border-bottom: 1px solid #d5d3d3;
	color: #000;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}
#box-signup form {
	padding: 5px 10px;
}
#box-signup form label {
	display: block;
	width: 100px;
	float:left;
	font-family: arial;
	font-size: 13px;
	color: #000;
	margin: 10px 0 0 10px;
}
#box-signup form input {
	border: 1px solid #d5d3d3;
	background: #fff;
	height: 25px;
	width: 200px;
	margin: 10px 0 0 10px;
	color: #187257;
	padding: 0 10px;
}

#box-signup form input.btnlogin {
	width: 100px;
	margin: 10px 10px 0 80px;
	background: #187257;
	height: 30px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
#box-signup form input.btnlogin:hover {
	background: #c11e39
}
#box-signup a {
	font-size: 13px;
	color: #187257;
}
#box-signup a:hover {
	color: #c11e39;
}

#box-signup form input.allbtn{
	
	width: 100px;
	margin: 10px 10px 0 0px;
	background: #187257;
	height: 30px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: pointer;

}

/************************************** login form ********************************/
#box-login {
	background: #f6f7f7;
	width: 356px;
	border: 1px solid #d5d3d3;
	padding: 0 0 10px 0;
	margin-bottom:20px;
}
.box-login-header {
	background:  #f1f1f1;
	border-bottom: 1px solid #d5d3d3;
	color: #000;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}
#box-login form {
	padding: 5px 10px;
}
#box-login form label {
	display: block;
	width: 80px;
	float: left;
	font-family: arial;
	font-size: 13px;
	color: #000;
	padding-right:5px;
	margin: 5px 0 0 0;
}
#box-login form input {
	border: 1px solid #d5d3d3;
	background: #fff;
	height: 25px;
	width: 200px;
	margin: 5px 0 0 0;
	color: #187257;
	padding: 0 10px;
}

#box-login form input.btnlogin {
	width: 100px;
	margin: 10px 10px 0 80px;
	background: #187257;
	height: 30px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
#box-login form input.btnlogin:hover {
	background: #c11e39
}
#box-login a {
	font-size: 13px;
	color: #187257;
}
#box-login a:hover {
	color: #c11e39;
}

#formloginajax .row{
	padding:0px 0px 5px 0px;
}
#formloginajax .row label{
	padding:5px 10px 0px 0px;
}

/******************************* best worst ***********************/
.box-best,
.box-worst {
	margin: 0px 0 20px 0;
	padding: 10px;
}
.box-best {
	background: #e9f2ef;
	border: 1px solid #187257;
}
.box-worst {
	border: 1px solid #c11e39;
	background: #f8f2f2;
}
.box-best img,
.box-worst img {
	margin: 0 10px 0 0;
}
.box-best h4.best,
.box-worst h4.worst {
	color: #000;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding: 10px 0 0 30px;
}
.box-best h4.best {
	background: url(../images/best.png) 0 5px no-repeat;
}
.box-worst h4.worst {
	background: url(../images/bad.png) 0 5px no-repeat;
}


/************************ MENU Member **************************/
.box-menu-member{
	background: #e9f2ef;
	border: 1px solid #187257;
}

/************************ footer **************************/
#wrapper-footer {
	background: #f1f1f1;
	border-top: 1px solid #a8a8a8;
	width: 100%;
	height: 70px;
	margin: 20px 0 0 0;
}
#box-footer {
	width: 940px;
	margin: 0 auto;
}
#box-footer-l {
	width: 500px;
	margin: 20px 0 0 0;
	font-family: arial;
	font-size: 11px;
	color: #898a8a;
	line-height: 18px;
	float: left;
}
#box-footer-r {
	width: 200px;
	float: right;
	margin: 20px 0 0 0;
	text-align: right;
}
#box-footer-l a {
	color: #999898;
	padding: 0 5px;
}
#box-footer-l a:hover {
	color: #187257;
}
span.bangla { color: #c11e39; }
span.advisor { color: #187257; }
span.bangla:hover { color: #187257; }
span.advisor:hover { color: #c11e39; }
span.bangla, span.advisor { font-weight: bold; }

.rg-image  {
	text-align:center;
	border:1px solid #1d1d1d;
}

.rg-image img {
    max-height: 345px;
    max-width: 100%;
}

.rg-image-nav a{
	position:absolute;
	top:190px;
	left:15px;
	background:#000 url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:112px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:15px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}

.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}